<!DOCTYPE html>
<!-- saved from url=(0022)/ -->
<html dir="ltr" lang="ru">
   <!--<![endif]-->
   <head>
      <%- include('includes/head')%> 
   </head>


   <body>
      <%- include('includes/header')%>   
      <div class="wrapper wrapper-shift"> 
         
         <div class="content-container" id="content-container-block">
            <%- include('includes/menu')%>  

             
            <div id="common-home" class="container-fluid">
               <div class="row">
                  <div id="content" class="col-sm-12"> 

                     <div class="row" style="padding-left: 20px;">
                        <h2>О магазине мебели “ДоРеМи”</h2>
                     </div>
                     
                     <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 30px;">  
                        <img class="img-responsive" src="img/about.jpg">
                     </div>

                     <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" style="border-top: 2px solid black; padding-bottom: 50px;">  
                           <h2 style="text-align:left;">ИНТЕРНЕТ-МАГАЗИН ГОТОВОЙ МЕБЕЛИ</h2>
                           <div class="wr_text">
                              <p>
                                 Интернет-магазин “ДоРеМи” поможет сэкономить время. Все самые популярные модели у нас на складах. Не нужно ездить в мебельные торговые центры, находящиеся в разных концах города, тратить драгоценное время и самое важное, что участвовать в выборе мебели может вся семья!
                                 
                              </p>
                              <p>
                                 Наши менеджеры примут Ваш заказ, а наша служба доставки, привезет мебель в удобное для Вас время! Опытные сборщики помогут Вам осуществить сборку и установку мебели!
                              </p>
                              <p>
                                 Широкий выбор отличной мебели для вашего дома – поможет вам определиться с мебелью, которая идеально впишется в ваш интерьер.
                              </p>
                              <p>
                                 Интернет-магазин “ДоРеМи” сочетает в себе красоту, вкус и доступность!
                              </p>
                           </div>
                        </div>
                     </div>
                      

                     <div class="row">
                        <div class="circles">   
                           <!-- <div class="col-md-4 col-sm-4 col-xs-4" id="circle">  
                              <h4>Доставка бесплатно*</h4> 
                           </div>
                           <div class="col-md-4 col-sm-4 col-xs-4" id="circle">  
                              <h4>Подъем бесплатно*</h4> 
                           </div> -->
                           <div class="col-md-4 col-sm-4 col-xs-4" id="circle">  
                              <h4>Аванс <br>500Р</h4> 
                           </div>
                           <div class="col-md-4 col-sm-4 col-xs-4" id="circle">  
                              <h3 style="font-size: 18px;">Распаковываем при Вас</h3> 
                           </div>  
                           <div class="col-md-4 col-sm-4 col-xs-4" id="circle"> 
                              <h4> 30% в наличии на складе </h4>
                           </div>
                        </div>       
                     </div>
                       
                  
                  </div>   

               </div> 
            </div>
               
                
            <div class="height-indent" style="margin-top: 100px; "></div>
            <%- include('includes/insert')%>     
         </div>
      </div>   
      <%- include('includes/footer')%>   
   </body>
</html>