<!DOCTYPE html>
<html dir="ltr" lang="ru">
   <!--<![endif]-->
   <head>
      <%- include('includes/head')%> 
   </head>
   <body>
      <!-- Menu !--> 
      <%- include('includes/header')%> 
      <div class="wrapper wrapper-shift">  

         <div class="content-container">
            <%- include('includes/menu')%>  

            <div id="product-category" class="container-fluid">
               <ul class="breadcrumb">
                  <li><a href="/">Главная</a></li>
                  <li><a href="/catalog/<%- link %>"><%- title %></a></li>
               </ul>
               <div class="main-title">
                  <h1 class="main-title__h1"><%- title %></h1>
               </div>
               <div class="row">
                  <div id="content" class="col-sm-12">
                     <div class="form-indent">
                        <p><img src="/img/baner1.jpg" alt="" class="img-responsive"><br></p>
                     </div>
                     <div class="form-group">
                        <div class="toolbar-select">
                           <div class="toolbar-select__left">
                              <div class="toolbar-select__control toolbar-select--sort text-left">
                                 <div class="form-inline" >
                                    <label class="input-label" for="input-sort" >Сортировка:</label>
                                    <select class="form-control" onchange="location = this.value;">
                                       <option value="/catalog/<%- link %>">По умолчанию</option>
                                       <option value="/catalog/<%- link %>?sort=price&amp;order=ASC">Цена (низкая &gt; высокая)</option>
                                       <option value="/catalog/<%- link %>?sort=price&amp;order=DESC">Цена (высокая &gt; низкая)</option>
                                       <option value="/catalog/<%- link %>?sort=title&amp;order=ASC">Название (А - Я)</option>
                                       <option value="/catalog/<%- link %>?sort=title&amp;order=DESC">Название (Я - А)</option> 
                                    </select>
                                 </div>
                              </div>
                           </div>
                         
                          
                        </div>
                     </div>
                     <div class="row no-gutters" id="products">
                        <%  

                        function spaces(string) {
                         if (typeof string !== "string") string = string.toString();
                         return string.split("").reverse().join("").match(/[0-9]{1,3}/g).join(" ").split("").reverse().join("") + ' руб.';   
                       }; 

                       	products.forEach( async(product) => {

                   		 
                        %> 
 	

                        <div class="product-layout product-list col-lg-3 col-md-4 col-sm-4 col-xs-4" style="padding-right: 5px; padding-left: 5px; margin-bottom: 20px;">
                           <div class="product-thumb" id="<%= product.id %>" style="min-height: 400px;">
                              <div class="image-catalog">
                                 <a href="/catalog/<%- link %>/<%- product.id %>">
                                 <img src="<%- product.thumb_photo %>" alt="<%- product.title %>" title="<%- product.title %>" class="img-responsive" id="photo-catalog"  />
                                 </a>   
                              </div>
                              <div class="caption">
                                 <div class="price">
                                    <span class="price-main">
                                       <%- spaces(product.price) %>
                                       <% let text = product.description.replace(/\n/ig, "<br>") %> 

                                    </span>  
                                 </div>
                                 <a href="/catalog/<%- link %>/<%- product.id %>" class="product-name"><%-product.title%></a>             
                                 <div class="button-group__flex" style="float: right; display: inline;">
                                    <div class="rating"></div>
                                    <div class="button-group__btn" style="text-align: center; ">

                                       <a href="/catalog/<%- link %>/<%- product.id %>" class="btn btn-danger btn-lg" id="check-catalog" style="font-size: 15px;  width: 70%; border: none; color: #000; background-color: #FFE34F;">Посмотреть</a>

                                       <button id="btn-cart" type="button" class="btn btn-danger btn-lg" title="Купить" onclick='cart.add(<%- JSON.stringify(link) %>, <%- JSON.stringify(product.id) %>);'>
                                          <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                             <circle cx="9" cy="21" r="1"></circle>
                                             <circle cx="20" cy="21" r="1"></circle>
                                             <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                          </svg>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <script> 

                        	$(document).ready(function() {
                        		height_block_product = document.querySelector('.product-thumb').offsetHeight; 
                        	 	document.getElementById('<%- JSON.stringify(product.id) %>').style.height = (height_block_product+5) + 'px';
                        	}) 

                        
                        	 
                        </script> 
                        <% })  %>
                     </div>
                  </div>
               </div>
            </div>
 


            <script type="text/javascript">
               const el = document.getElementById('content');
               el.scrollIntoView({behavior: "smooth"});
            </script>
            
            <div class="height-indent" style="margin-top: 100px;"></div>
            <%- include('includes/insert')%>    
         </div>
      </div> 
      <%- include('includes/footer')%> 
   </body>
</html>