<!DOCTYPE html>
<html dir="ltr" lang="ru">
   <!--<![endif]-->
   <head> 
      <%- include('includes/head')%> 
   </head>
   <body>
      <!-- Menu !--> 
      <%- include('includes/header')%>
      <div class="wrapper wrapper-shift">
             
         <div class="content-container">
            <%- include('includes/menu')%>  
            <div id="checkout-cart" class="container-fluid">
               <ul class="breadcrumb">
                  <li><a href="/">Главная</a></li>
                  <li><a href="/order">Заказ</a></li>
               </ul>
      
 
               <div class="row">

                  <% console.log(products) %>
                  <% if ( products == undefined || (products != undefined && products.length == 0 )) { %>
                    
                     <div class="row">

                        <h3>Информация к заказу</h3>
                        <table class="table table-bordered" style="margin-bottom: 300px;">  
                           <tbody>
                              <tr> 
                                 <td class="text-left">
                                    <h3>Спасибо, Ваш заказ отправлен продавцу!
                                    </h3>
                                 </td>
                                 <td class="text-left">
                                    <h3>
                                       Остались вопросы, можете нам позвонить:
                                       8 991-222-0-777<br>

                                       Или <a href="https://vk.me/public30313045" target="_blank" >написать нам</a>
                                    </h3>
                                 </td> 
                              </tr> 
                           </tbody>
                        </table>
 
                     </div>
                     <% } else { %>
                        <div class="row">

                           <table class="table table-bordered">  
                              <tbody>
                                 <tr> 
                                    <td class="text-left">
                                       <h3>Спасибо, Ваш заказ отправлен продавцу! <br> 
                                       </h3>
                                    </td>
                                    <td class="text-left">
                                       <h3>
                                          Остались вопросы, можете нам позвонить:
                                          8 991-222-0-777<br>

                                          Или <a href="https://vk.me/public30313045" target="_blank" >написать нам</a>
                                       </h3>
                                    </td> 
                                 </tr> 
                              </tbody>
                           </table>       


                        <div id="content" class="col-sm-12">
                           <form action="cart/update" method="post" enctype="multipart/form-data">
                              <h1>Просмотр заказа</h1>
                               
                              <div class="table-responsive">
                                 <table class="table table-bordered">
                                    <thead style="background-color: #474747; color: #fff;">
                                       <tr>
                                          <th class="text-center">Фотография</th>
                                          <th class="text-left">Название</th>
                                          <th class="text-left">Количество</th>
                                          <th class="text-left">Пожелания</th>
                                          <th class="text-left">Цена за шт.</th>
                                          <th class="text-left">Всего</th> 
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <%  
                                             let totalPrice = 0;
                                             for (i = 0; i < products.length; i++) { 
                                               let product = products[i].product;  
                                               totalPrice += Number(product.price * products[i].count);

                                                function spaces(string) {
                                                  if (typeof string !== "string") string = string.toString();
                                                  return string.split("").reverse().join("").match(/[0-9]{1,3}/g).join(" ").split("").reverse().join("") + 'руб.';
                                                };
                                             %>
                                          <input type="text" name="product_id" value="<%- product.id %>" size="1" class="form-control" style='display: none;'>
                                          <td class="text-center"> 
                                             <a href="/catalog/<%- product.link %>/<%- product.id %>">
                                             <img src="<%- product.thumb_photo %>"  alt="<%- product.title %>" title="<%- product.title %>" class="img-responsive" style="height: 100px;">
                                             </a> 
                                          </td>
                                          <td class="text-left" style="width: 20%;">
                                             <a href="/catalog/<%- product.link %>/<%- product.id %>" ><%- product.title %></a>                                                                       
                                          </td>
                                          <td class="text-left">
                                             <%- products[i].count %>
                                          </td>
                                          <td class="text-left" style="width: 20%;">  
                                             <%- products[i].comment %>
                                          </td>
                                          <td class="text-left"><%- product.price_text %></td>
                                          <td class="text-left"><%- spaces(product.price * products[i].count) %></td> 
                                       </tr>
                                       <%  }  %> 
                                    </tbody>
                                 </table>  
                              </div>
                              <!--
                              <div class="row text-center" style="margin-top: 40px; margin-bottom: 80px;">
                                 <a href="/order" style="background-color: red; color: #fff; padding: 20px;">Оформление заказа</a>
                              </div>
                              !-->
                              <div class="row text-center" style="margin-top: 10px;">
                                 <h3 style="color: #000; padding: 10px;">К оплате: <%- spaces(totalPrice) %></h3>
                              </div>
                           </form>

                            <a href="/" class="btn btn-primary">Вернуться на главную страницу</a>

                        </div>
                     </div>
                  </div>
               <% } %>   
            </div> 
         </div>
      </div>
      <%- include('includes/footer')%> 
   </body>
</html>
 